<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <i class="fas fa-city me-2"></i> CityFlow
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_carte') }}">Carte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_signalements') }}">Signalements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_signalement_nouveau') }}">Signaler</a>
                    </li>
                {% endif %}
            </ul>
            
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.prenom }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
                            <li><a class="dropdown-item" href="{{ path('app_mes_signalements') }}">Mes signalements</a></li>
                            
                            {% if is_granted('ROLE_AGENT') %}
                                <li><a class="dropdown-item" href="{{ path('app_agent_dashboard') }}">Tableau de bord agent</a></li>
                            {% endif %}
                            
                            {% if is_granted('ROLE_SUPERVISOR') %}
                                <li><a class="dropdown-item" href="{{ path('app_supervisor_dashboard') }}">Statistiques</a></li>
                            {% endif %}
                            
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">Administration</a></li>
                            {% endif %}
                            
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>