{% extends 'base.html.twig' %}

{% block title %}Carte des signalements{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Carte des signalements au Bénin</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-header">Filtres</div>
                <div class="card-body">
                    <h5>Villes</h5>
                    <ul class="list-group mb-3">
                        {% for ville in villes %}
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input filter-ville" type="checkbox" value="{{ ville.id }}" id="ville-{{ ville.id }}">
                                    <label class="form-check-label" for="ville-{{ ville.id }}">
                                        {{ ville.nom }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <h5>Catégories</h5>
                    <ul class="list-group">
                        {% for categorie in categories %}
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input filter-categorie" type="checkbox" value="{{ categorie.id }}" id="categorie-{{ categorie.id }}">
                                    <label class="form-check-label" for="categorie-{{ categorie.id }}">
                                        {{ categorie.nom }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="map" style="height: 600px;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {{ encore_entry_script_tags('carte-index') }}
{% endblock %}